DB_DIALECT=postgres
DB_USERNAME=<DB_USERNAME>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_DATABASE=<DB_DATABASE>
DB_PORT=5432

PORT=3000
BASE_URL=http://localhost:3000

JWT_SECRET=<JWT_SECRET>
JWT_TOKEN_EXPIRES_IN=1d

EMAIL_HOST=<EMAIL_HOST>
EMAIL_PORT=465
EMAIL_USER=<EMAIL_USER>
EMAIL_FROM=<EMAIL_FROM>
EMAIL_PASSWORD=<EMAIL_PASSWORD>